
configuration {
    modi: "drun,run";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 🔍 Apps ";
}

//@theme "/usr/share/rofi/themes/glue_log.rasi"

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
